.container {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  align-items: center;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  justify-content: space-between;
  align-content: stretch;
  min-height: 200px;
}

.container>.name {
  background-color: white;
  width: 100%;
  font-size: 18px;
}

.container>.pic {
  background-repeat: no-repeat;
  height: 96px;
  width: 96px;
  padding-left: 2px;
  padding-right: 2px;
}

.container>.data {
  background-color: white;
  width: 100%;
}