<section class="container">
  <div class="name">{{pokemon?.name | capitalize}}</div>
  <div class="pic" [ngStyle]="{'background-image': 'url(' + pokemon?.sprites.front_default + ')'}"></div>
  <div class="data">
    <div class="types" *ngFor="let type of pokemon?.types">
      {{type.type.name | capitalize}}
    </div>
    <div class="height">
      Height: {{pokemon?.height | height}}
    </div>
  </div>
</section>
